#logo{
    font-weight: bolder;
    font-size: 22px;
}
#searchBar input{
    background-color: rgb(230, 230, 230);
    border: none;
    padding: 9px;
    width: 75%;
    border-radius: 5px;
    font-size: 12px;
}
main{
    height: 100vh;
}
.leftSection{
    height: 47%;
}
.rightSection{
    width: 60%;
    height:auto;
}
.sales{
}